@page "/empresa"
@* <PageTitle>Empresas e Clientes</PageTitle>
@inject SegmentService SegmentService

<p>Oi</p>
@if(rodolfo != null)
{
    <p>@rodolfo.total</p>
}

@code
{
    public Segment rodolfo = new Segment();
    protected override async Task OnInitializedAsync()
    {
        //rodolfo = await MeuServico.Main();
        //rodolfo = await MeuServico.RetornarRota();
        rodolfo = await SegmentService.RetornarRota();
    }
} *@